<div class="row">
    <div class="col s12 m6 l6">
        <!--Lab Info-->
        <div id="info" class="card">
            <div class="card-image activator waves-effect waves-block waves-light">
                <i class="material-icons large">computer</i>
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">LABORATÓRIOS DE INFORMÁTICA</span>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4" style="font-size: 14px;">LABS DE INFORMÁTICA<i class="material-icons tiny right">close</i></span>
                <ul>
                    <li><a href="?id_lab=1#cal">LAB 1</a></li>
                    <li><a href="?id_lab=2#cal">LAB 2</a></li>
                    <li><a href="?id_lab=3#cal">LAB 3</a></li>
                    <li><a href="?id_lab=4#cal">LAB 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l6">

        <!--Lab Quimica-->
        <div id="qui" class="card">
            <div class="card-image activator waves-effect waves-block waves-light">
                <i class="material-icons large">bubble_chart</i>
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">LABORATÓRIOS
                            DE QUÍMICA</span>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4" style="font-size: 14px;">LABS DE QUÍMICA<i class="material-icons tiny right">close</i></span>
                <ul>
                    <li><a href="?id_lab=5#cal">LAB 1</a></li>
                    <li><a href="?id_lab=6#cal">LAB 2</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m6 l6">
        <!--Lab Info-->
        <div id="info" class="card">
            <div class="card-image activator waves-effect waves-block waves-light">
                <i class="material-icons large">restaurant</i>
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">LABORATÓRIOS DE NUTRIÇÃO E DIETÉTICA</span>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4" style="font-size: 14px;">LABS DE NUTRIÇÃO E DIETÉTICA<i class="material-icons tiny right">close</i></span>
                <ul>
                    <li><a href="?id_lab=7#cal">LAB 1</a></li>
                    <li><a href="?id_lab=8#cal">LAB 2</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l6">

        <!--Lab Quimica-->
        <div id="qui" class="card">
            <div class="card-image activator waves-effect waves-block waves-light">
                <i class="material-icons large">local_florist</i>
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">LABORATÓRIOS
                            DE MEIO AMBIENTE</span>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4" style="font-size: 14px;">LABS DE MEIO AMBIENTE<i class="material-icons tiny right">close</i></span>
                <ul>
                    <li><a href="?id_lab=9#cal">LAB 1</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>